<div align="center">
<div class="input-group">
<h1> Welcome to ToDo!!! </h1>
<h1> <small> Sign in and start doing what you have ToDo!</small> </h1><br/>
<%= form_tag user_sessions_path, method: :post do %>
  <div align="left" class="input">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, :class=>"form-control", :placeholder=>"Email" %>
    <br/>
  </div>
  <div align="left" class="input">
    <%= label_tag :password %>
    <%= password_field_tag :password,nil, :class=>"form-control", :placeholder=>"Password" %>
    <br/>
  </div>
  <br/>
  <div class="submit">
    <%= submit_tag "Sign in" %>
  </div>
<% end %>
<br/>
<h4 align="center"> If you don't have an account, sign up <%= link_to 'here', new_user_path %>.</h4>
</div>
</div>