<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div align="center">
<div class="input-group">
  <h1> New User </h1>
  <div align="left" class="input">
    <%= f.label :username %><br>
    <%= f.text_field :username,:class=>"form-control", :placeholder=>"Username" %>
  </div>
  <div align="left" class="input">
    <%= f.label :email %><br>
    <%= f.text_field :email,:class=>"form-control", :placeholder=>"Email" %>
  </div>
  <div align="left" class="input">
    <%= f.label :password %><br>
    <%= f.password_field :password,:class=>"form-control", :placeholder=>"Email" %>
  </div>
  <div align="left" class="input">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation,:class=>"form-control", :placeholder=>"Email Confirmation" %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back', root_path %>
  </div>
</div>
</div>
<% end %>
