<%= form_for(@do, html: {multipart: true}) do |f| %>
  <ul>
  <% @do.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<div align="center">
<div class="input-group">
  <div align="left" class="input">
    <%= f.label :completed %><br />
    <%= f.label(:completed_yes,"Yes") %>
    <%= f.label(:completed_no,"No")%><br />
    <%= f.radio_button(:completed, "1")%>
    <%= f.radio_button(:completed, "0")%><br />
  </div>
  <div align="left" class="input">
    <%= f.label(:priority) %><br/>
    <%= f.label(:priority_low,"Low") %>
    <%= f.label(:priority_medium,"Medium")%>
    <%= f.label(:priority_high,"High") %><br/>
    <%= f.radio_button(:priority, "1")%>
    <%= f.radio_button(:priority, "2")%>
    <%= f.radio_button(:priority, "3")%><br/>
  </div>
  <div align="left" class="input">
    <%= f.label :details %><br />
    <%= f.text_field :details, :class=>"form-control", :placeholder=>"Details" %>
  </div>
  <div align="left" class="input">
    <%= f.label :map %><br />
    <%= f.text_field :map, :class=>"form-control", :placeholder=>"Map", :id=>"map"%>
  </div>
  <div onload="initialize()" style="height:200px; weight:200px">
    <div id="map-canvas" style="height:100%; weight:100%"></div>
  </div>
  <div align="left" class="input">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>
  <p>  
    <%= f.submit %>
    <%= link_to "Delete", do_path(@do), method: :Delete, data: {confirm: "Do you want to delete the DO?"} %>
  </p>
</div>
</div>
<% end %>

