<%= form_for(@do, html: {multipart: true}) do |f| %>
  <ul>
  <% @do.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :completed %><br />
    <%= f.text_field :completed %>
  </p>
  <p>
    <%= f.label(:priority) %><br/>
    <%= f.label(:priority_low,"Low") %>
    <%= f.label(:priority_medium,"Medium")%>
    <%= f.label(:priority_high,"High") %><br/>
    <%= f.radio_button(:priority, "1")%>
    <%= f.radio_button(:priority, "2")%>
    <%= f.radio_button(:priority, "3")%><br/>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.label :map %><br />
    <%= f.text_field :map %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </p>
  <p>  
    <%= f.submit %>
    <%= link_to "Delete", do_path(@do), method: :Delete, data: {confirm: "Do you want to delete the DO?"} %>
  </p>
<% end %>

