<h1>Listing dos</h1>

<table>
  <thead>
    <tr>
      <th>completed</th>
      <th>priority</th>
      <th>details</th>
      <th>map</th>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dos.each do |dox| %>
      <tr>
        <td><%= dox.completed %></td>
        <td><%= dox.priority %></td>
        <td><%= dox.details %></td>
        <td><%= dox.map %></td>
        <td><%= dox.date %></td>
        <td><%= link_to 'Show', dox %></td>
        <td><%= link_to 'Edit', edit_do_path(dox) %></td>
        <td><%= link_to 'Destroy', dox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>