<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <div align="right">
      <h4>
        <% if logged_in? %>
          <%= "#{current_user.username}" %>
          <br>
          <%= link_to "(settings)", edit_user_path(current_user.id) %>
          <%= link_to "(sign out)", logout_path %>
        <% else %>
        	<%= link_to "Sign in", login_path %>
        <% end %>
        <hr>
      </h4>
  </div>
</head>
<body>
<p class="flash"><%= flash.notice %></p>
<%= yield %>

</body>
</html>
