<!DOCTYPE html>
<html>
<head>
  <!--GMaps -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxTV57fXZk4cmOoeyPOLO4787MXZXI1d0&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <!-- BootstrapCSS -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>ToDo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">

    <div class="navbar-header">
    <h1><strong>ToDo</strong> <small><i>...and do it!</i></small></h1>
    </div>

    <div style="float:right">
        <% if logged_in? %>
          <h4><strong>Hello <%="#{current_user.username}"%>!</strong></h4>
          <h6><%= link_to "(settings)", edit_user_path(current_user.id) %>
          <%= link_to "(sign out)", logout_path %></h6>
        <% else %>
          <h4><%= link_to "Sign in", login_path %></h4>
        <% end %>
    </div>
  </nav>

<p align="center" style="background-color:#64A4D9;"><%= flash.notice %></p>
<%= yield %>
</div>
</body>
</html>