<div class="panel panel-default" style="float:right;width:85%;height:100%;">
<div class="panel-heading"><strong><%=@list.name%></strong></div>
  <div class="panel-body">
<ul>
  <% @dos.each do |dox| %>
    <table class="table table-striped">
    	<thead>
    		<th></th>
      		<th></th>
	      	<th></th>
	      	<th></th>
	      	<th></th>
	      	<th></th>
	    </thead>
	    <tbody>
	    	<td width="5%">
          <form>
            <%if dox.completed==false%>
              <input type="checkbox">
            <%else%>
              <input type="checkbox" checked>
            <%end%>
          <form>
        </td>
      	<td width="5%">
          <%if (dox.priority==1)%>
                <canvas style="height:20px;width:20px;border:0px;border-radius:100%;vertical-align:text-top;background-color:#0dff00;"</canvas>
          <%end%>
          <%if (dox.priority==2)%>
                <canvas style="height:20px;width:20px;border:0px;border-radius:100%;vertical-align:text-top;background-color:#f7ff00;"</canvas>
          <%end%>
          <%if (dox.priority==3)%>
                <canvas style="height:20px;width:20px;border:0px;border-radius:100%;vertical-align:text-top;background-color:#ff0000;"</canvas>
          <%end%>
        </td>
      	<td width="75%"><%= dox.details%></td>
      	<td width="5%">
          <% if(dox.map!="")%>
            <a href=<%=dox.map%>>
            <img src="/map_icon.png" alt="Map" width="30" height="30"></a>
          <%end%>
        </td>
      	<td width="5%"><%=dox.date%></td>
      	<td width="5%"><%= link_to 'Edit', edit_do_path(dox) %></td>
      </tbody>
    </table>
  <%end%>
</ul>
</div>
<h4 align="right" style="bottom:0px">
<%= link_to "New ToDo...", :controller =>"dos", :action=>"new", :list_id=>@list.id %>
</h4>

</div>