<div class="panel panel-default" style="float:right;width:85%;height:100%;">
<div class="panel-heading"><strong><%=@list.name%></strong></div>
  <div class="panel-body">
<ul>
  <% @dos.each do |dox| %>
    <table class="table table-striped">
    	<thead>
    		<th></th>
      		<th></th>
	      	<th></th>
	      	<th></th>
	      	<th></th>
	      	<th></th>
	    </thead>
	    <tbody>
	    	<td>
          <form>
            <%if dox.completed==false%>
              <input type="checkbox">
            <%else%>
              <input type="checkbox" checked>
            <%end%>
          <form>
        </td>
      	<td><%=dox.priority%></td>
      	<td><%=dox.details%></td>
      	<td>
          <% if(dox.map!="")%>
            <a href=<%=dox.map%>>
            <img src="/map_icon.png" alt="Map" width="30" height="30"></a>
          <%end%>
        </td>
      	<td><%=dox.date%></td>
      	<td><%= link_to 'Edit', edit_do_path(dox) %></td>
      </tbody>
    </table>
  <%end%>
</ul>
</div>
<h4 align="right" style="bottom:0px">
<%= link_to "New ToDo...", :controller =>"dos", :action=>"new", :list_id=>@list.id %>
</h4>

</div>