<%= form_for(@list, html: {multipart: true}) do |f| %>
  <ul>
  <% @list.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label(:shared) %><br />
    <%= f.label(:shared_n,"No")%>
    <%= f.label(:Shared_y,"Yes") %><br/>
    <%= f.radio_button(:shared, "false")%>
    <%= f.radio_button(:shared, "true")%>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Delete", list_path(@list), method: :Delete, data: {confirm: "Do you want to delete the list?"} %>
  </p>
<% end %>