<div align="left" style="width:14%;height:100%;float:left">
<h4>Your ToDo's List</h4>
<ul class="list-group">
  <% @lists.each do |list| %>
      <% if (list.shared == false) %>
      <% if (request.original_url[list_path(list)])%>
        <li class="list-group-item" style="background-color:#EFEFEF">
        <%else%>
        <li class="list-group-item" >
      <% end %>
         <canvas style="height:18px;width:10px;border:0px;vertical-align:text-top;background-color:<%=list.color%>;"> </canvas>
         <%= link_to list.name, list_path(list) %>
         <span style="float:right;"><a href=<%=edit_list_path(list)%>><img src="/sets2.png" width="18" height="18" title="Settings"/></a></span>
        </li>
    <%end%>
  <% end %>
</ul>
<h4> Shared ToDo's List</h4>
<ul class="list-group">
	<% @lists.each do |list| %>
      <% if (list.shared == true) %>
      <% if (request.original_url[list_path(list)])%>
        <li class="list-group-item" style="background-color:#EFEFEF">
        <%else%>
        <li class="list-group-item" >
      <% end %>
        <canvas style="height:18px;width:10px;border:0px;vertical-align:text-top;background-color:<%=list.color%>;"> </canvas>
      	<%= link_to list.name, list_path(list) %>
        <span style="float:right;"><a href=<%=edit_list_path(list)%>><img src="/sets2.png" width="18" height="18" title="Settings"/></a></span>
      </li>
      <%end%>
  <% end %>
  <% @lists_shared.each do |list_s| %>
      <% if (request.original_url[list_path(list_s)])%>
        <li class="list-group-item" style="background-color:#EFEFEF">
        <%else%>
        <li class="list-group-item" >
      <% end %>
        <canvas style="height:18px;width:10px;border:0px;vertical-align:text-top;background-color:<%=list_s.color%>;"> </canvas>
        <%= link_to list_s.name, list_path(list_s) %>
        <span style="float:right;"><a href=<%= edit_list_path(list) %>><img src="/sets2.png" width="18" height="18" title="Settings"/></a></span>
      </li>
  <% end %>
</ul>
<h4 style="position:absolute;bottom:0px">
<%= link_to "New ToDo list...", new_list_path%>
</h4>
</div>